{% extends "layout.html" %}

{% block title %}
Don't forget to change later!
{% endblock %}

{% block main %}
    <form method="post" action="/user/profile" class="mt-3">
        <div class="mb-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="city_zip" name="city_zip" placeholder="Please enter zip code" type="text">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Set Home City</button>
        </div>
    </form>
    <div align = center>
        <table class = "table table-bordered w-auto text-center mt-4">
            <tr>
            <th>Home City</th>
            </tr>
            <tr>
            {% if g.user["home_city_zip"] %}
            <td> {{ g.user["home_city_name"] }} </td>
            {% else %}
            <td> N/A </td>
            {% endif %}
            </tr>
        </table>
    </div>

{% endblock %}
