# Ignore compiled code/pycache
*.pyc
__pycache__/

# Ignore session stuff
flask_session/

#ignore my startupcommands file
startupcommands.txt

#ignore big favicon
weather_favicon_cropped.png

#ignore debug launch json
.vscode/