{% extends "layout.html" %}
{% block header %}
<h1>
  {% block title %}
    Register
  {% endblock %}
</h1>
{% endblock %}

{% block main %}
    <form  method="post" action = "/auth/register" class="mt-3">
        <div class="mb-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-2">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-1">
                <input class ="form-control mx-auto w-auto" id="confirmation" name = "confirmation" placeholder = "Confirm Password" type = "password">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}